.animal_card{
  width: 300px;
  box-shadow: 5px 5px 15px  #bf9d79;
  background-color: #b7ccd8;
}

.animal_image{
  border-radius: 10px;
}

.animal_information{
  margin-top: 10px;
  font-size: 0.7em;
  background-color: #f7dfc0;
}

.interesting_fact {
  font-style: italic;
}

.item_list{
  list-style-type: none;
  text-indent: -40px;
}

.item_list > li > span{
  font-weight: bold;
}

.border_container{
  padding: 0px 10px 10px 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
